---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #dbdbdb;
$background-color: #252525;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

.icon > svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    path {
          fill: $grey-color;
    }
}

.page-content p {
    text-align: justify;
}

.small {
    font-size: $small-font-size;
}

.person ul.social-media-list {
    margin-bottom: auto;
    li {
        margin-bottom: auto;
    }
}

article header {
    margin-bottom: 16px;
}

article footer {
    text-align: right;
    color: gray;
    a, a:visited {
        color: gray;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "minima",
        "people",
        "sponsor"
;
