<ul class="sponsors">
    {% assign sponsors = include.page.sponsors| sort : "priority" %}
    {% for sponsor in sponsors %}
    <li>
        {% assign url=sponsor.url | relative_url %}
        <a href="{{sponsor.web.url | default: url}}" target="_blank">
            <span class="sponsor logo">
                <img src="{{sponsor.logo | relative_url}}" alt="{{sponsor.name}}" />
            </span>
        </a>
    </li>
    {% endfor %}
</ul>