
.person a {
    color: $grey-color-light;
}

.person .social-media-list {
    display: inline-flex;
    span.icon {
        margin-left: 5px;
    }

    > li {
        padding-top: 0;
    }

}

.person header h1.post-title {
    margin-bottom: 0px;
}
