.site-footer ul.sponsors {
    list-style-type: none;
    display: inline-flex;

    padding: 0;
    margin: 0;

    >li:first-child {
        margin-left: 0px;
    }

    >li:last-child {
        margin-right: 0px;
    }

    >li {
        margin-left: 5px;
        margin-right: 5px;

        img {
            max-height: 64px;
        }

    }
}

.page-content ul.sponsors {
    list-style-type: none;
    padding: 0;
    margin: 0;

    >li:first-child {
        margin-top: 0px;
    }

    >li:last-child {
        margin-bottom: 0px;
    }

    >li {
        margin-top: 15px;
        margin-bottom: 15px;

        img {
            max-height: 64px;
        }

    }
}